<p id="notice"><%= notice %></p>

<h1>Reading Lists</h1>


<% @reading_lists.each do |reading_list| %>
  <h3><%= link_to reading_list.name, reading_list%></h3>
  <% reading_list.books.each do |book| %>
   <a href="<%= book_path(book) %>"> <img src="<%= book.image_url %>"> </a>
  <% end %>
<% end %>

<br>

