.book-container-div {
    height: 200px;
    margin: 20px;
    padding: 35px;
    width: 78%;
}

.show-book-container-div {
    display: flex;
    flex-wrap: wrap;
}

.book-image-div {
    width: 10%;
    display: inline-block;
}


.book-info-div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.book-title-div {
    font-size: 20px;
    line-height: 35px;
}

.show-book-image-div {
    padding-left: 100px;

    width: 30%;
}

.show.book-info-div{
    float: left;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}