<<<<<<< HEAD
=======
.book-container-div {
    height: 200px;
    margin: 20px;
    padding: 35px;
    width: 78%;
}

.book-image-div {
    width: 35%;
    display: inline-block;
}

.book-info-div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.book-title-div {
    font-size: 20px;
}

>>>>>>> 7029ad297173c6ad996f1ca17a767fa08fc48614
