
.login-container {
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 30%;
    padding-bottom: 30%;

}

.login-form {
    background-color: azure;
    opacity: 0.8;
    text-align: center;
    border: 1px solid blue;
    float: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 8%;
}